<%@ Master Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="ProfileMaster.Master.cs" Inherits="StayBuddy.ProfileMaster" %>
<asp:Content ContentPlaceHolderID="MainContent" runat="server">
<section class="wrap prof">
    <div class="pcard">
        <div class="avatar">&#129489;</div>
        <h3><asp:Label ID="lblName" runat="server"></asp:Label></h3>
        <small class="muted">
            <asp:Label ID="lblEmail" runat="server"></asp:Label><br />
            <asp:Label ID="lblMobile" runat="server"></asp:Label></small></div>
<div class="panel">
    <asp:ContentPlaceHolder ID="PanelContent" runat="server"></asp:ContentPlaceHolder>
</div>
</section>
</asp:Content>